@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Press+Start+2P');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

	color: #fff;
  background-image: linear-gradient(to top, #005bea 0%,  #00c6fb 100%);
  
    font-family: "Audiowide";
  font-size: 100%;
}

.buttonback {
  transition: .5s;
  position: fixed;
  font-size: 14px;
  font-weight: bold;
  background-color: #8438c7;
  margin: 0px;
  left: 20px;
  border: 10px solid  #8438c7;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border-radius: 60px;
  padding: 10px 10px;
  cursor: pointer;
}
.buttonback a{
  transition: .8s;
  color: #fff;
  font-weight:bold;
  font-size:14px;
  text-align: center;
  text-decoration:none;
  display:block;
  position:relative;
}
.buttonback:hover{
  transition: .8s;
  background-color: #d4d4d4;
}


.page {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}
:root {
    --primary: #ab987a;
    --blood: #ff533d;
    --dark: #0f1626;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.title{

  padding: 4px;
  margin-right:70%;
  text-align: center;
  margin-left: 0%;
  color: #555;
  background-color: none;
  border-radius: 60px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
 
  font-size: 18px;
}
.title2{
  padding: 8px;
  margin-right:60%;
  text-align: center;
  margin-left: 0%;
  color: #555;
  background-color: none;
  border-radius: 60px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
 
  font-size: 18px;
}
/*---------*/

/*imagens*/
.article-image {
  background-color: #d4d4dc;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border: 15px outset #fff;
  border-radius: 50%;
  margin: 0 33%;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.avatar {
  float: left;
  width: 90px;
  height: 90px;
  margin: 40px 9px;
  border-radius: 50%;
  background-color: #d4d4dc;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  cursor: pointer;
  border: 5px solid #fff;
}

.dados{
  position: relative;
  border:5px solid  #fff;
   box-shadow: 0px 0px 10px rgba(0,0,0,1);
   border-radius: 30px;
  background: var(--primary);
  width: 85%;
  height: auto;
  margin: 15px auto;
}
.dados h4{
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  text-align: center;
  width: 30%;
  margin: 20px;
  background-color: none ;
  font-size: 18px;
  padding: 5px;
}

.dados p{
  text-align: center;
  color: #555;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  margin: 10px auto;
   width:60%;
   height: auto; 
   padding: 10px; 
   font-size: 15px;
}

/*colunas*/
.content {
	border: 20px solid  #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
	border-radius: 30px;
	padding: 20px;
	float: left;
  width: 640px;                 /* Add this */
  height: auto;
  background: url(../img/papper2.png);
  margin: 20px auto;
}
.content h1{
  font-size: 22px;
  margin: 25px;
  padding: 6px;
  margin-right:20%;
  text-align: center;
  margin-left: 20%;
  color: #fff;
  background: var(--primary);
  border-radius: 60px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.content2 {
	margin-left: 0%;
	border: 20px solid #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
	border-radius: 30px;
	padding: 20px;
	float: right;
  width: 640px;                 /* Add this */
  height: auto;
  background: url(../img/papper2.png);
  margin: 20px auto;
}
.columnpub {
  display: block;
 text-align: justify;
  width: 100%;
  margin: 26px 0px;
  height: auto;
  background: var(--primary); 
  border-radius:30px;
  border: 5px solid #FFF;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}


.username {
  float: left;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  background-color: #fff;
  border-radius: 30px;
  font-size: 18px;
  color: #555;
 margin: 15px;
 padding: 5px;
}

.comment {
  color: #fff;
  text-align: left;
  border-radius: 30px;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border: 5px solid #fff;
  margin: 20px;
  overflow: hidden;
   width: 78%; 
   height: 100px;
   padding: 10px; 
   font-size: 14px;/* This is important */
}

/*--P--*/



/*--Rodapé--*/
.footer {
   box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border: 20px solid  #8438c7;
  margin: 20px auto;
	clear: both;
  width: 95%;   
  height: 600px;
  background: url(../img/papper2.png);
  border-radius: 30px; 
}
.container h3{
  color: #444;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  text-align: center;
  width: 30%;
  border: 10px solid #fff;
  margin: 20px auto;
  background-color: none ;
  font-size: 18px;
  padding: 8px;
}

.row{
  border-radius: 60px;
  margin-left: 5px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    background-color: none;
  }
.col-carousel {
  margin: 30px -8px;
}

/* owl nav */
.owl-prev span, .owl-next span {
  color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
  color: #8199A3;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}

/*descrição*/


/*BOTÃO DE ADICIONAR PRODUTO*/
.produto{
  width: 350px;
  height: 300px;
  border-radius: 30px;
   background: #d4d4dc;
}
.buttonprod{
  top: 8px;
  position:relative;
  display:inline-block;
  z-index: 3;
  font-weight: bold;
  background-color: #d4d4dc;
  margin: 0 auto;
  border: 10px solid #8438c7;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border-radius: 50%;
  padding: 10px 14px;
  cursor: pointer;
}
.buttonprod a{
  color: #fff;
  font-weight:bold;
  text-align: center;
  text-decoration:none;
  display:block;
  position:relative;
}

.buttonprod:hover{
  background: #8438c7;
  transition: .6s;
}

.buttondesc{
  top: 8px;
  position: relative;
  display:inline-block;
  z-index: 3;
  font-weight: bold;
  background-color: #d4d4dc;
  margin: 0 auto;
  border: 10px solid #8438c7;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border-radius: 50%;
  padding: 10px 14px;
  cursor: pointer;
}
.buttondesc a{
  color: #fff;
  font-weight:bold;
  text-align: center;
  text-decoration:none;
  display:block;
  position:relative;
}

.buttondesc:hover{
  background: #8438c7;
  transition: .6s;
}

/*SOCIAL BOTÃO*/
#copy{

  margin-top: 1%;
  text-align: center;
  color: #fff;
  
}
.social {
  width: 85%;
  padding: 24px;
  height: 130px;
  display: inline-flex;
  border: 5px solid  #fff;
  border-radius: 30px;
  
  justify-content: center;
  background: var(--primary); 
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  margin: 8px 7.5%;
}
.social i {
  padding: 0px 10px;
}

.social i:nth-child(1) {
  color: #3385c6;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 180ms;
}

.social i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.social i:nth-child(2) {
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}

.social i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.social i:nth-child(3) {
  color: #009979;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.social i:nth-child(3):hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}
.social i:nth-child(4) {
  color:  #1e90ff;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.social i:nth-child(4):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
h6{
  font-family: Arial;
}