@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Press+Start+2P');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
select{
    background-color: #FFFFFF;
    border: 8px solid #D6D9DC;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    margin: 0;
    font-size: 14px;
}
body{
    background-image: linear-gradient(180deg, rgb(68, 72, 255) 0%, rgb(33, 212, 253) 100%);
    font-family: "Audiowide";
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    position: relative;
    margin: auto;
    display: block;
    margin-top: -5%;
    width: 80%;
    height: 1000px;
    background: none;
}
.outter-part{
    position: absolute;
    width: 80%;
    height: 75%;
    left: 10%;
    top: 5%;
    background: #2d1444;
    border-radius: 25px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
   
}
.circle-1, .circle-2, .circle-3{
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 3%;
    border-radius: 50%;
    z-index: 2;
}
.circle-1{
    left: 5%;
    background: #00bdec;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.circle-2{
    left: 9%;
    background: #E84A5F;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.circle-3{
    left: 13%;
    background: #F26B38;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
@keyframes neon{
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 30px var(--cor-neon));
  }
}

.circle-1{
  animation: neon 1s alternate infinite ease-in-out;
}
.circle-1{
  --cor-neon:  #00bdec;
}
.circle-2{
  animation: neon 1s alternate infinite ease-in-out;
}
.circle-2{
  --cor-neon: #E84A5F;
} 
.circle-3{
  animation: neon 1s alternate infinite ease-in-out;
}
.circle-3{
  --cor-neon:  #F26B38;
} 

.part-1{
    position: absolute;
    width: 20%;
    height: 15%;
    left: 40%;
    bottom: -15%;
    background: #8438c7;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 1;
}
.part-2{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 30%;
    bottom: -25%;
    background: #2d1444;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.inner-part{
    position: absolute;
    width: 95%;
    height: 85%;
    left: 2.5%;
    top: 5%;
    background: #2d1444;
    z-index: 2;
}
.gif-part{
    margin-top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    border-radius: 0px;
    z-index: 2;
}


.speaker-form-header {
    color:  #fff;
    text-align: center;
    margin: 0px;
    padding: 40px;
}
.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}


.speaker-form {
  color: #1d1e22;
  background-color: #d4d4dc;
  margin-top: 0px;
  position: absolute;
  width: 99.99%;
  height: 99.99%;
  left: 0%;
  top: 0%;
  border-radius: 0px;
  padding: 50px;
}
.form-row {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-row input[type='text'], input[type='email'], input[type='password'],input[type='date'],input[type='usuario']{
  background-color: #FFFFFF;
  border: 8px solid #D6D9DC;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  margin: 0;
  font-size: 14px;
  font-family: 'Arial Black',cursive;
}

.form-row label {
  margin-bottom: 15px;
  font-size: 18px;
}

.form-row1 label {
  margin-bottom: 10px;
  font-size: 15px;
}
.form-row2 label {
  margin-bottom: 10px;
  font-size: 15px;
}
.form-row3 label {
  margin-bottom: 10px;
  font-size: 15px;
}
.button {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #D6D9DC;
    background-color: #8438c7;
    margin: 10px 36.9%;
  
    border: 10px solid #d4d4dc;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
    border-radius: 10px;
  
    padding: 15px 40px;
    cursor: pointer;
  }
  .button:hover {
    color: #8438c7;
    background-color: #d4d4dc;
    transition: .5s;
  }
.div-ajust{
    flex-direction: column;
}
.div-dir{
    float: right;
    padding-left: 10px;
    width: 50%;
}
.div-esq{
    float: left;
    padding-right: 10px;
    width: 50%;
}


/*---botão voltar---*/
.buttonback {
  transition: .5s;
  position: fixed;
  font-size: 14px;
  font-weight: bold;
  background-color: #8438c7;
  margin: 20px;
  right: 5px;
  border: 10px solid  #8438c7;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  border-radius: 60px;
   padding: 10px 10px;
  cursor: pointer;
}
.buttonback a{
  transition: .8s;
  color: #fff;
  font-weight:bold;
  font-size:14px;
  text-align: center;
  text-decoration:none;
  display:block;
  position:relative;
}
.buttonback:hover{
  transition: .8s;
  background-color: #d4d4d4;
}